body {
  font-family: sans-serif;
  padding: 20px;
  background: #888888;
}
h1 {
  color: #407d24ce;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #aaa;
  padding: 10px;
  text-align: left;
}
